<header class="header">
  <div class="logo">
    <!-- Your logo or brand name goes here -->
    <h1>Photography.com</h1>
  </div>
  <nav class="navbar left">
    <ul>
      <li><a class="home" href="#">HOME</a></li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">PORTFOLIO</button>
          <div class="dropdown-content">
            <a href="https://www.inkc.in/">INKC</a>
            <a href="https://helpanimalsindia.org/news/library/saving-indias-street-dogs-from-abc-to-arv">Help Animals India</a>
            <a href="https://thesmartcanine.com/indian-dog-breeds/">The Smart Canine</a>
          </div>
        </div>
      </li>
      <li><a class="about" href="https://dogbreedadvice.com/indian-dog-breeds/">ABOUT</a></li>
      <li><a class="testimonials" href="#testimonals">TESTIMONIALS</a></li>
      <li><a class="contact" href="#contacts">CONTACT</a></li>
    </ul>
  </nav>
</header>
