<div class="container" id="contacts">
  <div class="flex-container m-4 pt-4">
    <div class="logo col-3">
        <img src="https://th.bing.com/th?id=OIP.NAnHbDUOLzZ5gg4brAky3gHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2">
    </div>
    <div class="tabs col-3">
      <ul>
        <li>
          <a href="https://dogbreedadvice.com/indian-dog-breeds/"
            >About Us</a
          >
        </li>
        <li><a href="https://dogbreedadvice.com/blog/">Blog</a></li>
        <li><a href="https://dogbreedadvice.com/contact-us/">Contact Us</a></li>
        <li><a href="https://dogbreedadvice.com/medical-disclaimer/">Disclaimer</a></li>
        <li><a href="https://dogbreedadvice.com/amazon-affiliate-disclosure/">Disclosure</a></li>
        <li><a href="https://dogbreedadvice.com/privacy-policy/">Privacy Policy</a></li>
        <li><a href="https://dogbreedadvice.com/tos/">Terms of Use</a></li>
      </ul>
    </div>
    <div class="address col-3">
      <p>Plot 19A, Sri Ram Chowk</p>
      <p>Jai Vihar Ext Phase-3</p>
      <p>Najafgarh, Delhi (110043)</p>
    </div>

    <div class="contacts col-3">
        <ul>
            <li><a><i class="fa fa-phone"></i> 9971817969</a></li>
        <li><a><i class="fa fa-address-book"> Anjali Upadhyay</i></a></li>
        <li><a href="https://www.linkedin.com/in/anjali-upadhyay-092911148/"><i class="fa fa-building"></i>LinkedIn</a></li>
        </ul>
      </div>
  </div>
  <br />
  <div class="bottom pb-4">
    <p>
      Information on this site is not intended to diagnose, treat, or cure any
      disease. Photography.com is a participant in the spreading awareness about
      the Indian dogs. We are here to protect the innocents and give them a
      chance to get a second chance at home.
    </p>
  </div>
</div>
